@import "~normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

html {
  box-sizing: border-box;
  background-color: #3767ad;
  // display: flex;

  // align-items: center;
  // margin: 0 auto;
  // width: 375px;
  // height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.hydrapp {
  min-height: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;

  font-family: "Roboto", sans-serif;

  &__tittle {
    margin: 0;
    margin-top: 24px;
    font-size: 55px;
    color: #ffffff;
  }
  &__counter {
    margin-top: 48px;
    font-size: 112px;
    color: #000000;
    min-height: 280px;
    min-width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../src/assets/img/water-glass.svg");
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 48px;
    padding-top: 72px;
  }
  &__addbutton {
    margin: 0;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    border-radius: 4px;
    border: none;
    height: 47px;
    width: 216px;
    padding: 11px 32px;
    margin-bottom: 25px;
  }
  &__removebutton {
    font-size: 14px;
    color: #f5e5e7;
    padding: 12px;

    background: none;
    border: none;
  }
}
